@font-face {
    font-family: Aae; /* �����������ƣ������⣩ */
    font-display: swap; /* ���������ض�SEO�а��� */
    src: url(https://cdn.jsdelivr.net/npm/wabits@1.0.2/Aae.woff2) format("woff2")
} /* urlдָ�������Ŀ¼�����ӣ�format��д����ĸ�ʽ */

/* �������� */
body {
    font-family: 'Aae', sans-serif;
} 
/* font-family�еĵ�һ����ǰ���������������� */
/* �ڶ�����sans-serif���Դﵽ���������ص�Ŀ�ģ��Ż�SEO /*
