@font-face {
    font-family: 'AaKLYLDYW (Non-Commercial Use)';
    src: url('../font/AaKLYLDYWNon-CommercialUse.woff2') format('woff2'),
        url('../font/AaKLYLDYWNon-CommercialUse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

